<ul>
  <% for message in @animal.errors.full_messages %>
    <li>
      <%= message %>
    </li>
  <% end %>
</ul>

<%= form_with(model: @animal, local: true) do |form| %>
  Name: <%= form.text_field(:name) %><br>
  Kind: <%= form.text_field(:kind) %><br>
  Favorite Snack: <%= form.text_field(:fave_snack) %><br>
  Age: <%= form.text_field(:age) %><br>
  <%= form.submit("Create Animal") %>
<% end %>
